.mouse:hover {
 color: red;
 background-color: #f1f1f1;
 transition: 200ms ease-in-out;
}

.menumouse:hover {
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 transition: 200ms ease-in-out;
}
.mist {
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.menumouse:hover .mist {
 display: flex;
 transition: 200ms ease-in-out;
}
